.container {
  flex-direction: column;
  margin: 10px;
  background-color: #303030;
  border-radius: 8px;
  padding: 5px;
  padding-top: 0px; }
  .container #death-filter {
    background-color: #242424; }

.enemies {
  gap: 10px; }

.enemy {
  border: solid black 1px;
  border-radius: 8px;
  padding-right: 5px;
  background-color: #0d0d0d; }

.title p {
  font-size: 24px;
  margin: 0;
  font-weight: bold; }

.enemies .buttonCheckbox {
  min-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px; }

.enemies .buttonCheckbox.selected {
  border: 2px solid red;
  transition: border-color 0.5s; }

.deathFilterInput {
  margin: 5px;
  width: 20px; }

.time-intervals-container .time-intervals-content input {
  width: 5rem;
  text-align: center;
  font-size: large; }

.time-intervals-container .time-intervals-content button {
  background-color: inherit;
  padding: 0.2em 0.6em; }

.experimental-time-intervals-container button {
  padding: 0.2em 0.6em; }

.experimental-time-intervals-container .title {
  font-size: 24px;
  margin: 10px;
  font-weight: bold; }
  .experimental-time-intervals-container .title button {
    font-size: 0.5em; }

.experimental-time-intervals-container .experimental-time-intervals-content input {
  max-width: 5rem;
  text-align: center;
  font-size: large; }

.experimental-time-intervals-container .experimental-time-intervals-content button {
  background-color: inherit;
  padding: 0.2em 0.6em; }

.experimental-time-intervals-container .experimental-time-intervals-content label {
  margin: 3px; }

.experimental-interval-options input {
  max-width: 5rem;
  text-align: center;
  font-size: large; }
