.DeathKnight {
  color: #c41f3b !important;
}
.Druid {
  color: #ff7d0a !important;
}
.Hunter {
  color: #abd473 !important;
}
.Mage {
  color: #69ccf0 !important;
}
.Monk {
  color: #00ff98 !important;
}
.Paladin {
  color: #f58cba !important;
}
.Priest {
  color: #ffffff !important;
}
.Rogue {
  color: #fff569 !important;
}
.Shaman {
  color: #2459ff !important;
}
.Warlock {
  color: #9482c9 !important;
}
.Warrior {
  color: #c79c6e !important;
}
.DemonHunter {
  color: #a330c9 !important;
}
.Evoker {
  color: #33937f !important;
}
