.container {
  flex-direction: column;
  margin: 10px;
  background-color: #303030;
  border-radius: 8px;
  padding: 5px;
  padding-top: 0px;
  #death-filter {
    background-color: #242424;
  }
}

.enemy {
  border: solid black 1px;
  border-radius: 8px;
  padding-right: 5px;
  background-color: #0d0d0d;
}

.title {
  p {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }
}

.enemies {
  gap: 10px;

  .buttonCheckbox {
    min-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
  }
  .buttonCheckbox.selected {
    border: 2px solid red;
    transition: border-color 0.5s;
  }
}

.deathFilterInput {
  margin: 5px;
  width: 20px;
}

.interval-time-options-container {
  button {
    padding: 0.2em 0.6em;
  }
  .title {
    font-size: 24px;
    margin: 10px;
    font-weight: bold;
    button {
      font-size: 0.5em;
    }
  }
  .interval-time-options-content {
    input {
      max-width: 5rem;
      text-align: center;
      font-size: large;
    }
    button {
      background-color: inherit;
      padding: 0.2em 0.6em;
    }
    label {
      margin: 3px;
    }
  }
}

.interval-options {
  input {
    max-width: 5rem;
    text-align: center;
    font-size: large;
  }
}
.interval-boss-select {
  optgroup {
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
  }
}
