.container {
  flex-direction: column;
  margin: 10px;
  background-color: #303030;
  border-radius: 8px;
  padding: 5px;
  padding-top: 0px;
}

.enemies {
  gap: 10px;
}

.enemy {
  border: solid black 1px;
  border-radius: 8px;
  padding-right: 5px;
  background-color: #0d0d0d;
}

.title {
  p {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }
}

.enemies {
  .buttonCheckbox {
    min-width: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
  }
  .buttonCheckbox.selected {
    border: 2px solid red;
    transition: border-color 0.5s;
  }
}

.deathFilterInput {
  margin: 5px;
  width: 20px;
}

.time-intervals-container {
  .time-intervals-content {
    input {
      width: 5rem;
      text-align: center;
      font-size: large;
    }
    button {
      background-color: inherit;
      padding: 0.2em 0.6em;
    }
  }
}
