.fights {
  flex-wrap: wrap;
}

.fightsName {
  font-weight: bold;
  font-size: x-large;
}

#fightButton {
  justify-content: space-evenly;
}

.wipe {
  color: #e45f5a;
}
.kill {
  color: #80e666;
}
.unfort {
  color: #e268a8;
}
.legendary {
  color: #d7822d;
}
.epic {
  color: #a335ee;
}
.rare {
  color: #0070ff;
}
.uncommon {
  color: #51a347;
}
.common {
  color: #afafaf;
}

.fightContainer {
  margin: 10px;
  /* position: relative;
  background-size: cover;
  background-position-y: -90px;
  background-repeat: no-repeat; */
}
