.info-box {
  background-color: rgba(204, 120, 11, 1);
  padding: 10px;
  border-radius: 5px;
  max-width: 40rem;

  p {
    margin: 0;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    color: black;
  }
}
